/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "Roslindale";
  src: url("./roslindale/RoslindaleVariable-VF-Testing.ttf") format("truetype");
  font-weight: 200 400 500 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roslindale";
  src: url("./roslindale/RoslindaleVariable-VF[Display]-Testing.ttf")
    format("truetype");
  font-weight: 200 400 500 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("./Plus_Jakarta_Sans//PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 400 500 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus_Jakarta_Sans";
  src: url("./Plus_Jakarta_Sans//PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 400 500 700;
  font-display: swap;
  font-style: italic;
}
