@import "fonts/index.css";
@import "semantic/index.css";
@import "globals.css";

:root {
  --chart-background: #f2f4f7;

  .recharts-legend-item-text {
    color: var(--primary-text-subtle) !important;
  }
}

@keyframes colorCycle {
  0% {
    color: var(--accent-10);
  }
  25% {
    color: var(--accent-9);
  }
  50% {
    color: var(--accent-9);
  }
  75% {
    color: var(--accent-9);
  }
  100% {
    color: var(--accent-10);
  }
}

* {
  scroll-behavior: smooth;
}
